<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener
			class-name="qa.automation.page.utils.TestListener" />
		<listener
			class-name="qa.automation.page.utils.ExtentReporterNG" />
	</listeners>
	
  <test name="Ui-testing">
  
    <classes>
      <class name="qa.automation.page.tests.tcases.Ecommerce_tc_4"/>
      <class name="qa.automation.page.tests.tcases.airIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
